'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Skypager'
      'submenu': [
        {
          'label': 'Toggle window'
          'command': 'atom-skypager:toggle'
        },
        {
          'label': 'Toggle size'
          'command': 'atom-skypager:enlarge'
        }
      ]
    ]
  }
]
